[Unit]
Description=Atelier Network Bridge
Documentation=https://github.com/frak-id/frak-sandbox
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=atelier network

[Install]
WantedBy=multi-user.target
