[Unit]
Description=L'atelier Network Bridge
Documentation=https://github.com/frak-id/frak-sandbox
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=atelier network

[Install]
WantedBy=multi-user.target
