{
	admin localhost:2019
	email ssl@frak.id
}

(cloudflare_tls) {
	tls /etc/ssl/cloudflare/nivelais.com.pem /etc/ssl/cloudflare/nivelais.com.key
}

sandbox-api.nivelais.com {
	import cloudflare_tls
	reverse_proxy localhost:4000
}

sandbox-dash.nivelais.com {
	import cloudflare_tls
	root * /opt/frak-sandbox/apps/dashboard/dist
	file_server
	try_files {path} /index.html
}
